<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="calc-wrapper">
				<h3>Welcome to the site "My calories"</h3>

				<p>The main idea of ​​the site "My calories" - is that just the right weight loss is not a quick and gradual and slow can be effective and will not harm human health.</p>

				<p>Another important idea of ​​the site - to lose weight effectively, you need physical exercise in addition to a healthy diet for weight loss.</p>

				<p>A separate page placed authoring effective weight loss program that you can use for yourself, not changing, or create your own, using it as an example.</p>

				<p>If you want to receive on your email the latest articles about effective weight loss, subscribe to our newsletter.</p>

				<p>We welcome your comments and constructive criticism, please write about your experience and success in losing weight!</p>
			</div>
		</div>
	</div>
</div>